In [26]:
from pyspark.sql import SparkSession, DataFrame
from pyspark.sql.functions import lower, col, count, concat_ws
from pyspark.sql.types import Row
from pyspark import RDD
from typing import List, Tuple, Callable, Dict, Optional, Any, NamedTuple
import numpy as np
import scipy.stats as stats

spark = (SparkSession.builder.appName("pacdb")
         .config("spark.executor.memory", "512M")
         .config("spark.sql.warehouse.dir", ".spark")
         .enableHiveSupport()
         .getOrCreate())

spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", "true")
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick
import matplotlib.lines as mlines
import matplotlib.patches as mpatches

# set font to Times New Roman
LATEX = False
if LATEX:
    mpl.rcParams['text.usetex'] = True
    mpl.rcParams["font.family"] = "serif"
    mpl.rcParams["font.serif"] = "Times"
else:
    mpl.rcParams['text.usetex'] = False
    mpl.rcParams["font.family"] = "Times New Roman"

plt.rcParams['svg.fonttype'] = 'none'
mpl.rcParams['savefig.dpi'] = 300

import matplotlib_inline.backend_inline
matplotlib_inline.backend_inline.set_matplotlib_formats('svg')

mpl.rcParams['axes.titleweight'] = 'bold'

24/04/30 04:31:45 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [27]:
#@markdown Install dependencies and load data

import sys

from IPython.display import clear_output
clear_output()

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [28]:
import pandas as pd

math_df = pd.read_csv("./pipeline_dp/data/student_performance/student-mat.csv", delimiter=";") 
math_df['ID'] = range(1, len(math_df) + 1)

portuguese_df = pd.read_csv("./pipeline_dp/data/student_performance/student-por.csv", delimiter=";")
portuguese_df['ID'] = range(1, len(portuguese_df) + 1)

In [29]:
math_df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,ID
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,1
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,4,5,5,6,2
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,10,7,8,10,3
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,2,15,14,15,4
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,4,6,10,10,5

In [30]:
portuguese_df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,ID
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,4,0,11,11,1
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,2,9,11,11,2
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,6,12,13,12,3
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,0,14,14,14,4
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,0,11,13,13,5

## Sample Query

In [31]:
import pandas as pd
data = {'user': ['A', 'B', 'C'],
        'salary': [10, 20, 15]} 
df = pd.DataFrame(data)

filtered_df = df[(df['salary'] >= 1) & (df['salary'] < 29)]

print(filtered_df)

  user  salary
0    A      10
1    B      20
2    C      15

In [32]:
import pipeline_dp
from pipeline_dp.aggregate_params import AggregateParams
from pipeline_dp.data_extractors import DataExtractors
from pipeline_dp import budget_accounting
import pipeline_dp.aggregate_params as aggregate_params
from pipeline_dp.dp_engine import DPEngine
import pipeline_dp.pipeline_backend as pipeline_backend
from tests import dp_engine_test
rows = [index_row[1] for index_row in filtered_df.iterrows()]

backend = pipeline_backend.LocalBackend()
budget_accountant = budget_accounting.NaiveBudgetAccountant(total_epsilon=1, total_delta=1e-6)
dp_engine = DPEngine(budget_accountant, backend)

In [33]:
data_extractors = DataExtractors(
   partition_extractor=lambda row: row.user, # partition is also ID
   privacy_id_extractor=lambda row: row.user, # privacy ID
   value_extractor=lambda row: row.salary) # value to be aggregated - we count the number of IDs

params = AggregateParams(
   noise_kind=pipeline_dp.NoiseKind.LAPLACE,
   metrics=[pipeline_dp.Metrics.COUNT],
   min_value=0,
   max_value=10,
   max_partitions_contributed=1,
   max_contributions_per_partition=1
)

In [34]:
dp_result = dp_engine.aggregate(rows, params, data_extractors)
budget_accountant.compute_budgets()
dp_result = list(dp_result)

print(dp_result)

[]

# JOIN 

Join both tables on ID and find the total number of absences as an aggregation of absences

In [35]:
# Non-private query

import pandas as pd

math_and_portuguese = pd.merge(math_df, portuguese_df, on='ID', how='outer')
math_and_portuguese.head()

math_and_portuguese['total_absences'] = math_and_portuguese['absences_x'].fillna(0) + math_and_portuguese['absences_y'].fillna(0)
math_and_portuguese.drop(columns=['absences_x', 'absences_y'], inplace=True)

total_absences_grouped_by_id = math_and_portuguese[['ID', 'total_absences']]

In [36]:
total_absences_grouped_by_id.head()

   ID  total_absences
0   1            10.0
1   2             6.0
2   3            16.0
3   4             2.0
4   5             4.0

In [37]:
from pipeline_dp import budget_accounting
import pipeline_dp.aggregate_params as aggregate_params
from pipeline_dp.dp_engine import DPEngine
import pipeline_dp.pipeline_backend as pipeline_backend
from tests import dp_engine_test
rows = [index_row[1] for index_row in math_df.iterrows()]

backend = pipeline_backend.LocalBackend()
budget_accountant = budget_accounting.NaiveBudgetAccountant(total_epsilon=1, total_delta=1e-6)
dp_engine = DPEngine(budget_accountant, backend)

## Find count of absences per gender

In [38]:
import pandas as pd

absences_per_gender = math_df.groupby('sex')['absences'].count()
print(absences_per_gender)

sex
F    208
M    187
Name: absences, dtype: int64

In [39]:
import pipeline_dp
from pipeline_dp.aggregate_params import AggregateParams
from pipeline_dp.data_extractors import DataExtractors

data_extractors = DataExtractors(
   partition_extractor=lambda row: row.sex, # partition is also ID
   privacy_id_extractor=lambda row: row.ID, # privacy ID
   value_extractor=lambda row: row.absences) # value to be aggregated - we count the number of IDs

params = AggregateParams(
   noise_kind=pipeline_dp.NoiseKind.GAUSSIAN,
   metrics=[pipeline_dp.Metrics.COUNT],
   min_value=0,
   max_value=100,
   max_partitions_contributed=1,
   max_contributions_per_partition=1
)

In [40]:
dp_result = dp_engine.aggregate(rows, params, data_extractors)
budget_accountant.compute_budgets()
dp_result = list(dp_result)

In [41]:
print(dp_result)

[('F', MetricsTuple(count=204.00675678153172)), ('M', MetricsTuple(count=182.15042488753755))]

## Count of absences per gender - only 1 F record

In [42]:
import pandas as pd

female_records = math_df[math_df['sex'] == 'F']

if not female_records.empty:
    random_female_record = female_records.sample(n=1, random_state=42)  
    df_trial = math_df.drop(female_records.index.difference(random_female_record.index))

In [43]:
import pandas as pd

absences_per_gender = df_trial.groupby('sex')['absences'].count()
print(absences_per_gender)

sex
F      1
M    187
Name: absences, dtype: int64

In [44]:
from pipeline_dp import budget_accounting
import pipeline_dp.aggregate_params as aggregate_params
from pipeline_dp.dp_engine import DPEngine
import pipeline_dp.pipeline_backend as pipeline_backend
from tests import dp_engine_test
rows = [index_row[1] for index_row in df_trial.iterrows()]

backend = pipeline_backend.LocalBackend()
budget_accountant = budget_accounting.NaiveBudgetAccountant(total_epsilon=1, total_delta=1e-6)
dp_engine = DPEngine(budget_accountant, backend)

In [45]:
import pipeline_dp
from pipeline_dp.aggregate_params import AggregateParams
from pipeline_dp.data_extractors import DataExtractors

data_extractors = DataExtractors(
   partition_extractor=lambda row: row.sex, # partition is also ID
   privacy_id_extractor=lambda row: row.ID, # privacy ID
   value_extractor=lambda row: row.absences) # value to be aggregated - we count the number of IDs

params = AggregateParams(
   noise_kind=pipeline_dp.NoiseKind.GAUSSIAN,
   metrics=[pipeline_dp.Metrics.COUNT],
   min_value=0,
   max_value=100,
   max_partitions_contributed=1,
   max_contributions_per_partition=1
)

In [46]:
dp_result = dp_engine.aggregate(rows, params, data_extractors)
budget_accountant.compute_budgets()
dp_result = list(dp_result)

In [47]:
print(dp_result)

[('M', MetricsTuple(count=174.20468192308664))]

 ## Count of absences per gender - 0 F records

In [48]:
# Drop all records with gender as 'F'
df_trial_2 = df_trial[df_trial['sex'] != 'F']

In [49]:
import pandas as pd

absences_per_gender = df_trial_2.groupby('sex')['absences'].count()
print(absences_per_gender)

sex
M    187
Name: absences, dtype: int64

In [50]:
from pipeline_dp import budget_accounting
import pipeline_dp.aggregate_params as aggregate_params
from pipeline_dp.dp_engine import DPEngine
import pipeline_dp.pipeline_backend as pipeline_backend
from tests import dp_engine_test
rows = [index_row[1] for index_row in df_trial_2.iterrows()]

backend = pipeline_backend.LocalBackend()
budget_accountant = budget_accounting.NaiveBudgetAccountant(total_epsilon=1, total_delta=1e-6)
dp_engine = DPEngine(budget_accountant, backend)

In [51]:
import pipeline_dp
from pipeline_dp.aggregate_params import AggregateParams
from pipeline_dp.data_extractors import DataExtractors

data_extractors = DataExtractors(
   partition_extractor=lambda row: row.sex, # partition is also ID
   privacy_id_extractor=lambda row: row.ID, # privacy ID
   value_extractor=lambda row: row.absences) # value to be aggregated - we count the number of IDs

params = AggregateParams(
   noise_kind=pipeline_dp.NoiseKind.GAUSSIAN,
   metrics=[pipeline_dp.Metrics.COUNT],
   min_value=0,
   max_value=100,
   max_partitions_contributed=1,
   max_contributions_per_partition=1
)

In [52]:
dp_result = dp_engine.aggregate(rows, params, data_extractors)
budget_accountant.compute_budgets()
dp_result = list(dp_result)

In [53]:
print(dp_result)

[('M', MetricsTuple(count=183.65996613181704))]

In [54]:
df_trial_3 = math_df[math_df['absences'] > 20]
df_trial_4 = math_df[math_df['absences'] > 30]

df_trial_5 = math_df[math_df['absences'] > 10]

In [55]:
absences_per_gender = df_trial_3.groupby('sex')['absences'].count()
absences_per_gender_ = df_trial_4.groupby('sex')['absences'].count()
absences_per_gender__ = df_trial_5.groupby('sex')['absences'].count()
print(absences_per_gender)
print(absences_per_gender_)
print(absences_per_gender__)

sex
F    12
M     3
Name: absences, dtype: int64
sex
F    4
M    1
Name: absences, dtype: int64
sex
F    37
M    29
Name: absences, dtype: int64

In [56]:
from pipeline_dp import budget_accounting
import pipeline_dp.aggregate_params as aggregate_params
from pipeline_dp.dp_engine import DPEngine
import pipeline_dp.pipeline_backend as pipeline_backend
from tests import dp_engine_test
rows = [index_row[1] for index_row in df_trial_3.iterrows()]

backend = pipeline_backend.LocalBackend()
budget_accountant = budget_accounting.NaiveBudgetAccountant(total_epsilon=1, total_delta=1e-6)
dp_engine = DPEngine(budget_accountant, backend)

In [57]:
import pipeline_dp
from pipeline_dp.aggregate_params import AggregateParams
from pipeline_dp.data_extractors import DataExtractors

data_extractors = DataExtractors(
   partition_extractor=lambda row: row.sex, # partition is also ID
   privacy_id_extractor=lambda row: row.ID, # privacy ID
   value_extractor=lambda row: row.absences) # value to be aggregated - we count the number of IDs

params = AggregateParams(
   noise_kind=pipeline_dp.NoiseKind.GAUSSIAN,
   metrics=[pipeline_dp.Metrics.COUNT],
   min_value=0,
   max_value=100,
   max_partitions_contributed=1,
   max_contributions_per_partition=1
)

In [58]:
dp_result = dp_engine.aggregate(rows, params, data_extractors)
budget_accountant.compute_budgets()
dp_result = list(dp_result)
print(dp_result)

[]

In [59]:
from pipeline_dp import budget_accounting
import pipeline_dp.aggregate_params as aggregate_params
from pipeline_dp.dp_engine import DPEngine
import pipeline_dp.pipeline_backend as pipeline_backend
from tests import dp_engine_test
rows = [index_row[1] for index_row in df_trial_4.iterrows()]

backend = pipeline_backend.LocalBackend()
budget_accountant = budget_accounting.NaiveBudgetAccountant(total_epsilon=1, total_delta=1e-6)
dp_engine = DPEngine(budget_accountant, backend)

In [60]:
import pipeline_dp
from pipeline_dp.aggregate_params import AggregateParams
from pipeline_dp.data_extractors import DataExtractors

data_extractors = DataExtractors(
   partition_extractor=lambda row: row.sex, # partition is also ID
   privacy_id_extractor=lambda row: row.ID, # privacy ID
   value_extractor=lambda row: row.absences) # value to be aggregated - we count the number of IDs

params = AggregateParams(
   noise_kind=pipeline_dp.NoiseKind.GAUSSIAN,
   metrics=[pipeline_dp.Metrics.COUNT],
   min_value=0,
   max_value=100,
   max_partitions_contributed=1,
   max_contributions_per_partition=1
)

In [61]:
dp_result = dp_engine.aggregate(rows, params, data_extractors)
budget_accountant.compute_budgets()
dp_result = list(dp_result)
print(dp_result)

[]

In [62]:
from pipeline_dp import budget_accounting
import pipeline_dp.aggregate_params as aggregate_params
from pipeline_dp.dp_engine import DPEngine
import pipeline_dp.pipeline_backend as pipeline_backend
from tests import dp_engine_test
rows = [index_row[1] for index_row in df_trial_5.iterrows()]

backend = pipeline_backend.LocalBackend()
budget_accountant = budget_accounting.NaiveBudgetAccountant(total_epsilon=1, total_delta=1e-6)
dp_engine = DPEngine(budget_accountant, backend)

In [63]:
import pipeline_dp
from pipeline_dp.aggregate_params import AggregateParams
from pipeline_dp.data_extractors import DataExtractors

data_extractors = DataExtractors(
   partition_extractor=lambda row: row.sex, # partition is also ID
   privacy_id_extractor=lambda row: row.ID, # privacy ID
   value_extractor=lambda row: row.absences) # value to be aggregated - we count the number of IDs

params = AggregateParams(
   noise_kind=pipeline_dp.NoiseKind.GAUSSIAN,
   metrics=[pipeline_dp.Metrics.COUNT],
   min_value=0,
   max_value=100,
   max_partitions_contributed=1,
   max_contributions_per_partition=1
)

In [64]:
dp_result = dp_engine.aggregate(rows, params, data_extractors)
budget_accountant.compute_budgets()
dp_result = list(dp_result)
print(dp_result)

[('M', MetricsTuple(count=34.12707479077276)), ('F', MetricsTuple(count=35.353199567679965))]